---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import AsesoriaLegal from '../components/asesoriaLegal.astro';
import SobreNosotros from '../components/sobrenosotros.astro'
import TramitesNotariales from '../components/tramitesNotariales.astro'
import ServiciosLegales from '../components/serviciosLegales.astro'
import Footer from '../components/footer.astro'
---

<Layout title="Saballos y asociados">

	<header class="">

		<Header/>
	
	</header>

	<body>

		<SobreNosotros/>
		<AsesoriaLegal/>
		<TramitesNotariales/>
		<ServiciosLegales/>
	</body>

	<footer>
		<Footer/>

	</footer>
	
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	
	
	
</style>
