---
---



<section class="md:mt-[130px]">

    <h1 class="text-white flex justify-center mt-[30px] md:text-5xl md:mt-[70px]"><strong>ASESORIA LEGAL</strong></h1>

    <section class="text-white animate-zoom-in gap-6 items-center justify-center mt-[40px] flex-col flex md:flex-row md:gap-[250px] md:mt-2">

        <div class="flex items-center justify-center flex-col gap-9 md:mt-[70px]">
            <img src="/personaNatural.jpg" alt="Imagen persona natural"  class="w-[200px] rounded-full md:w-[400px] border-3 shadow-custom">
            <p class="text-2xl"><strong>Personas naturales</strong></p>

        </div>
        <div class="flex items-center justify-center flex-col gap-9 md:mt-[70px] ">
            <img src="/personaJuridica.jpg" alt="Imagen persona juridica" class="w-[200px] rounded-full md:w-[400px] border-3 shadow-custom">
            <p class="text-2xl"><strong>personas juridicas</strong></p>

        </div>

    </section>


</section>




