<div class="mt-14">
    
    <div class="flex  bg-white items-center justify-center flex-col 
    h-[60px] md:h-[50px] md:flex md:flex-row md:gap-4 md:bg-white 
    md:w-full  md:mr-0 md:ml-0
    ">
        <h1 class="text-sm md:text-lg">
            ©Derechos reservados 2024 Saballos y asociados  <strong class="opacity-0 md:opacity-[80%]">|</strong>
        </h1>

        <p class="text-sm md:text-lg">chris.jarquin140398@gmail.com</p>

    </div>
</div>