---

---

<header class="animate-expand-horizontally">
    <div class="flex bg-white items-center justify-center flex-col 
    h-[60px] md:h-[100px] md:flex md:flex-row md:gap-4 md:bg-white 
    md:w-full  md:mr-0 md:ml-0
    ">
        <h1 class="text-sm md:text-3xl">
            Oficina legal  <strong class="opacity-0 md:opacity-[80%]">|</strong>
        </h1>

        <p class="text-sm md:text-2xl">Saballos y asociados</p>

    </div>
</header>