


<section class="flex flex-col justify-center items-center md:flex-row md:mt-28 md:gap-16 md:mb-28">
    <section class="flex justify-center">
        <div class="bg-white rounded-3xl shadow-custom mt-16
         w-[250px] flex justify-center items-center 
         md:w-[600px] 
        ">
            <h1 class="text-black flex justify-center md:text-5xl md:h-[60px] md:items-center">
                <strong>SERVICIOS LEGALES</strong>
            </h1>
        </div>
    </section>

    <div class="bg-white mt-8 w-[330px] shadow-custom rounded-3xl flex flex-col 
    justify-center items-center md:w-[500px]
    ">
        <ul class="mt-12 mb-12">
            <li class="md:mb-5 md:text-2xl">- DERECHO CIVIL Y MERCANTIL</li>
            <li class="md:mb-5 md:text-2xl">- DERECHO LABORAL</li>
            <li class="md:mb-5 md:text-2xl">- DERECHO EN FAMILIA</li>
            <li class="md:text-2xl">- TRAMITES NOTARIALES</li>
        </ul>

    </div>
    

</section>

