---

---
<section class="mb-8 md:mt-28 md:bg-transparent">

    <section class="flex justify-center">
        <div class="bg-white rounded-3xl shadow-custom mt-16 w-[250px] 
        flex justify-center  md:w-[600px]  
        ">
            <h1 class="text-black flex justify-center md:text-5xl md:h-[60px] md:items-center"><strong>TRAMITES NOTARIALES</strong></h1>
        </div>
    </section>

    <section class="mt-16 flex justify-center md:mt-28">
        <div class="justify-center items-center  gap-24 grid grid-cols-1 md:grid-cols-3 md:gap-20">
            <div class="flex w-[350px] transition-transform hover:scale-105 rounded-3xl shadow-custom flex-col justify-center items-center border bg-white md:w-[350px]">    
                <img src="home.png" class="w-[140px] " alt="Inscripcion de propiedades">    
                <p class="text-black mt-5">Inscripciones de propiedades</p>
            </div>

            <div class="flex w-[350px] transition-transform hover:scale-105 rounded-3xl shadow-custom flex-col bg-white justify-center items-center border md:w-[350px]">
                <img src="certificado.png" class="w-[140px] " alt="Certificados notariales">
                <p class="text-black mt-5">Certificados notariales</p>
            </div>

            <div class="flex w-[350px] transition-transform hover:scale-105 rounded-3xl shadow-custom flex-col bg-white justify-center items-center border md:w-[350px]">
                <img src="poderLegal.png" class="w-[140px]" alt="Poder legal">
                <p class="text-black mt-5">Poderes legales</p>

            </div>
        </div>
    </section>


    <section class="md:mt-20 mt-[96px]  flex justify-center">
        <div class="justify-center items-center gap-4 grid grid-cols-1 md:grid-cols-2 md:gap-20">
            <div class="flex w-[350px] transition-transform hover:scale-105 rounded-3xl shadow-custom bg-white flex-col justify-center items-center border md:w-[350px]">
                <img src="matrimonio.png" class="w-[140px]" alt="Certificados notariales">
                <p class="text-black mt-5">Matrimonio y union de hechos</p>
            </div>

            <div class="flex  w-[350px] transition-transform hover:scale-105 rounded-3xl shadow-custom bg-white mt-[96px] flex-col justify-center items-center border md:w-[350px] md:mt-0">
                <img src="contrato.png" class="w-[140px]" alt="Poder legal">
                <p class="text-black mt-5">Contrato de bienes y muebles</p>

            </div>
        </div>
    </section>
    
</section>